<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :faculty_id, style: "display: block" %>
    <%= form.collection_select :faculty_id, Faculty.all, :id, :name %>
  </div>

  <div>
    <%= form.label :grade, style: "display: block" %>
    <% for i in 1..4 %>
      <%= form.radio_button :grade, i %>
      <%= form.label :grade, "#{i}年", value: i %>
    <% end %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
