<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Faculty:</strong>
    <%= student.faculty.name %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= student.grade %>
  </p>

  <p>
    <% if student.photo.attached? %>
      <%= image_tag url_for(student.photo), height: 100 %>
    <% else %>
      No Image
    <% end %>
  </p>

</div>
